[submodule "vim-nord"]
	path = .vim/pack/visual/opt/vim
	url = https://github.com/gogojokid/vim-nord
[submodule "no"]
	path = .vim/pack/no
	url = https://github.com/gogojokid/vim-no_plus.git
[submodule "surround"]
    path = .vim/pack/tpope/start/surround
    url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/syntax/opt/lsp"]
	path = .vim/pack/syntax/opt/lsp
	url = https://github.com/yegappan/lsp
