[submodule "vim-nord"]
	path = .vim/pack/visual/opt/vim
	url = https://github.com/gogojokid/vim-nord
[submodule "no"]
	path = .vim/pack/no
	url = https://github.com/gogojokid/vim-no_plus.git
[submodule "surround"]
    path = .vim/pack/tpope/start/surround
    url = https://tpope.io/vim/surround.git
